<h1><%= @house.address %></h1>
<p><strong>Price:</strong> <%= @house.price %></p>
<table>
  <% @scores.each do |score| %>
    <tr>
      <td>
        <%= score.category.name %>
      </td>
      <td>
        <%= score.score %>
      </td>
    </tr>
  <% end %>
</table>
